Instructions:

write a program in your language of choice that returns a string 
containing the numbers 1 to 105, but:
- for multiples of 3, print "Devhaus" instead of the number 
- for multiples of 5 print "Learning" 
- for multiples of 7 print "Model"
- for multiples of both 3 and 5, print Devhaus Learning
- for multiples of both 3 and 7, print Devhaus Model 
- for multiples of both 5 and 7, print Learning Model
- for multiples of all 3, 5 and 7, print iBlüm(note the umlaut) 

Create a main function that calls the function and outputs the result to the console

Write an automated test that proves that your code works with JUnit and AssertJ assertions